
#front-page {
    background: url('7cd7215eff_Trash-or-Treasure-1920\ \(1\).jpg') no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.blink_pick {
    color: brown;
}
.blink_del {
    color:darkolivegreen
}
.blink_me {
    
    animation: blinker 3s step-start infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
