{% extends 'client/base.html' %}

{% block  content %}
<div class='container'>
    <div class='row justify-content-center pt-5'>
        <div class='card col-md-8 col-sm-12 text-center'>
            <p>Welcome to our eco-friendly marketplace where you can buy, sell, and dispose of trash in a sustainable way. We believe that every piece of waste has the potential to be transformed into something useful, and our platform is designed to promote a circular economy that minimizes waste and maximizes resource efficiency.

                Our website offers a range of options for buyers and sellers to exchange various types of trash, from biodegradable materials to hazardous waste, all while reducing the environmental impact of waste disposal. By giving waste a new life, we help to reduce the amount of trash that ends up in landfills and incinerators, which are harmful to the planet and human health.
                
                In addition to our green marketplace, we also provide pickup and delivery services that are powered by clean energy and environmentally friendly practices. Our commitment to sustainability extends to every aspect of our operations, from the use of recycled packaging materials to the support of local recycling initiatives.
                
                Thank you for joining us in our mission to create a more sustainable future for our planet. Let's work together to turn waste into a valuable resource and build a greener world for generations to come!</p>>
        </div>
    </div>
</div>
{% endblock content %}